/*Paleta de cores do site*/
:root {
    --cor-primaria: #0D47A1;
    /* Azul Marinho */
    --cor-acao: #FF8C00;
    /* Laranja Escuro */
    --fundo-claro: #F8F9FA;
    /* Fundo principal */
    --fundo-secundario: #EAECEE;
    /* Fundo de cards/seçõesEAECEE */
    --texto-principal: #212529;
    /* Preto/Cinza muito escuro */
    --texto-suave: #6C757D;
    /* Cinza médio */
    --sucesso: #28A745;
    /* Verde */
    --erro: #DC3545;
    /* Vermelho */
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fundo-claro);
    color: var(--texto-principal);
}

/* CSS navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--fundo-secundario);
    box-shadow: 0px 0px 10px var(--fundo-secundario);
    height: 60px;
    align-items: center;
}

.nav-bar .logo {
    color: var(--cor-primaria);
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 250px;
    display: flex;
    justify-content: center;
}

.ul-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    flex-grow: 1;
}

.nav-bar a {
    text-decoration: none;
    color: var(--texto-principal);
}

.nav-bar a:hover {
    color: var(--cor-primaria);
}

.nav-bar input {
    border-radius: 20px;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    border: 0;
}

.mobile-menu {
    cursor: pointer;
    display: none;
    margin: 10px;
}

.mobile-menu div {
    width: 25px;
    height: 2px;
    background-color: var(--texto-principal);
    margin: 5px;
}

.ul-nav.active {
    transform: translateX(0);
}

/* CSS perfil */
.body-perfil {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-perfil {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#dados-pessoais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    min-height: 500px;
    width: 98.5%;
    background-color: var(--fundo-secundario);
}

#dados-pessoais button,.editar-dados {
    background-color: var(--cor-primaria);
    color: var(--fundo-claro);
    border-radius: 10px;
}

#dados-pessoais section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#foto-perfil {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#foto-perfil button,input {
    height: 30px;
    width: 200px;
    font-weight: bold;
    border: 0;
}

#dados-form {
    text-align: center;
}

#dados-form input {
    height: 30px;
    width: 200px;
    padding-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#redes-sociais ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

#redes-sociais li {
    margin-top: 10px;
    padding: 10px;
}

#redes-sociais {
    text-align: center;
}

#meus-cursos h2 {
    text-align: center;
}

#meus-cursos h3 {
    text-align: center;
    margin-top: 10px;
}

/* CSS rodapé */
.rodape {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: var(--fundo-secundario);
    margin-top: 10px;
}

.rodape-coluna {
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape a {
    text-decoration: none;
    color: var(--texto-suave);
}

.rodape a:hover {
    text-decoration: underline;
}

.rodape ul {
    list-style: none;
}

.rodape li {
    margin: 5px;
}

.rodape h4 {
    margin-left: 5px;
}

.icons-redes {
    display: flex;
    align-items: center;
}

.icons-redes img {
    width: 25px;
}

/*CSS Index*/
.descubra-area {
    background-color: var(--fundo-secundario);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area-img {
    display: flex;
    justify-content: center;
    background-color: var(--texto-suave);
    border-radius: 10px 0px 0px 10px;
    width: 50%;
}

.descubra-area img {
    width: 400px;
    height: 400px;
}

#main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.area-infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.area-infos p {
    margin-top: 10px;
    width: 70%;
}

.area-infos button {
    margin-top: 10px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.area-infos button:hover {
    box-shadow: 0px 0px 5px black;
}

.area-infos button a {
    text-decoration: none;
    color: white;
}

.areas-populares{
    margin-top: 20px;
    background-color: var(--fundo-secundario);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    height: auto;
    justify-content: center;
}

.areas-populares h2{
    text-align: center;
    width: 100%;
}
.card-areas{
    background-color: var(--fundo-claro);
    border-radius: 10px;
    border: 1px solid var(--texto-suave);
    height: 250px;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.card-areas img{
    height: 150px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.card-areas button{
    margin-bottom: 10px;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: 0;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/*  CSS - quiz */
.questionario{
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
}

.titulo{
    margin: 20px;
}

.subtitulo{
    margin-bottom: 20px;
}

.perguntas{
    margin-left: 20px;
}

.caixa-perguntas{
    display: grid;
    margin: 20px;
    background-color: var(--fundo-secundario);
    border-radius: 10px;
    text-align: left;
    width: 800px;
    padding: 30px;
}

.todas-perguntas{
    display: grid;
    justify-content: center;
    text-align: center;
}

.botao-quiz{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: 0;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.botao-quiz:hover{
      box-shadow: 0px 0px 5px #000000;
}

.direto-area{
    text-decoration: none;
    color: var(--cor-primaria);
}


/* CSS - Login*/

.login-principal{
    background-color: var(--fundo-secundario);
    padding: 20px;  
    width: 400px;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.main-login{
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main a{
    text-decoration: none;
    color: var(--cor-primaria);
}
 .botao-login{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: 0;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    cursor: pointer;
 }

 .botao-login:hover{
    box-shadow: 0px 0px 5px #000000;
 }

 .final-login{
    margin: 20px;
 }

 .acesso-conta{
    display: grid;
    margin: 20px;
    gap: 15px;
 }

 .checkbox{
    width: 20px;
 }

.container-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

/*Responsividade do site*/
@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

/*index*/    
    .area-img{
        display: none;
    }
    .descubra-area{
        justify-content: center;
    }

    .nav-bar .logo {
    width: 200px;
}

/*Rodapé*/
    .rodape {
        flex-direction: column;
        height: auto;
    }

    .rodape-coluna {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    #dados-pessoais {
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width: 900px){
    /*Navbar site*/
    .ul-nav {
        position: absolute;
        top: 6vh;
        width: 100%;
        height: 300px;
        background-color: var(--fundo-secundario);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;
        box-shadow: 0px 10px 10px var(--fundo-secundario);
    }

    .ul-nav.active {
        display: flex;
    }

    .ul-nav li {
        margin-left: 0;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        z-index: 20;
    }

    .nav-bar input {
        width: 200px;
    }
}

